/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body {
  margin: 0;
}

#header {
  background-color: #1B5678;
  color: white;
  height: 120px;
  display: flex;
}

#header_left {
padding: 0 40px;
padding-top: 30px;
width: 50%;
}

#header_right {
  padding: 0 40px;
  padding-top: 40px;
  width: 50%;
  text-align: right;
}

#header_title {
  margin: 0;
  text-decoration: none;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.logout_link {
  padding: 16px 40px;
  border-radius: 4px;
  background: var(--white, #FFF);
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}


